<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blockhtml</name>
	<displayName><![CDATA[Block HTML]]></displayName>
	<version><![CDATA[0.1]]></version>
	<description><![CDATA[Adds a block with free HTML code]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[Blocks]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>