/* history.tpl*/
#block-history { color: #374853 }
.color-myaccount { color: #5090b8 }
#block-history table#order-list { border: none }
#block-history table#order-list thead th { background-image: url('../img/block_myaccount_header_large.gif') }
#block-history table#order-list thead th { color: white }
#block-history table#order-list tbody { background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left }
#block-history table#order-list tbody tr td { background-color: white }
#block-history table#order-list td.history_link {
	white-space: nowrap;
	text-align: right
}
#block-history #block-order-detail {
	padding: 0.5em;
	display: block;border: solid 1px #e3e0e1; margin-top:20px;
}
#block-history #block-order-detail p {
	padding-left: 0;
	padding-right: 0
}
#order-detail-content {
	clear: both;
	margin-top: 1.5em
}
#order-detail-content tbody tr { height: 3em }
#order-detail-content tfoot td { border: none }
#order-detail-content table td input.order_qte_input { display: none }
#order-detail-content table td.order_cb input { border: none }
#order-detail-content table td span.order_qte_span {
	width: 100%;
	display: block
}
#block-history #block-order-detail h4 { font-size: 1.4em }
#block-history #block-order-detail #sendOrderMessage p { padding: 0 4px 0 1px }
#block-history #block-order-detail textarea {
	margin: 0 auto;
	width: 100%
}
#ordermsg textarea {
	margin: 0;
	padding: 0;
	width: 528px;
}
/* TABLE HISTORIQUE */

#zone-historique {
    font:13px "Tahoma";
    color:#838282;
}
#recap-produits{
    padding:0 20px;
    font:13px "Tahoma";
    color:#838282;
    box-shadow:none;
}
#zone-historique table{
    width:100%;
    border-collapse: collapse;
	border-spacing: 0;
}

#zone-historique tr#title{
    background:#dfe7ed;
    margin:0px;
}

#zone-historique th {
    font-weight:normal;
    padding:16px 0;
    border-left:solid 1px #e3e0e1;
    border-right:solid 1px #e3e0e1;
}

#zone-historique td {
    padding:0px 0;
    text-align:center;
    border-left:solid 1px #e3e0e1;
    border-right:solid 1px #e3e0e1;
    border-bottom:solid 1px #e3e0e1;
    height:98px;
    background:#fff;

}
table div{position:relative;}

table input[type="text"] {
    width:30px;
    position:absolute;
    top:5px;
    left:40px;
}

/* DETAILS HISTORIQUE */
#detailhistorique-close {
	border:solid 1px #e3e0e1;
	margin-top:30px;
	height:20px;
}

#detailhistorique {
	border:solid 1px #e3e0e1;
	margin-top:30px;
	padding:30px;
}

#detailhistorique h3 {
	background:none;
	border:dotted 1px #e3e0e1;
	font:13px "Tahoma";
	color: #838282;
	padding:10px;
	float:left;
}

#zone-historique h3 {
    border:dotted 1px #e3e0e1;
    padding:10px;
    width:265px;
    margin: 0 0 30px 30px;
}

#detailhistorique table {
    clear:both;
    position:relative;
    top:20px;
    margin-bottom:50px;
}

#detailhistorique td:first-child {
    text-align:right;
    padding-right:5px;
    padding-left:0;
    font:13px "Tahoma";
    color: #5b5a5a;
}

#detailhistorique td {
    padding: 4px 20px;
    font:13px "Tahoma";
    color:#838282;
}

#detailhistorique td:last-child {
    padding: 0;
    font:13px "Tahoma";
    color:#838282;
}

#detailhistorique #facture, #detailhistorique #livraison{
	border:dotted 1px #c1c1c1;
	position:relative;
	display:inline-block;
	padding:0px 20px;
	margin-left:0px;
	margin-right:30px;
	width:340px;
}
#detailhistorique #facture h2, #detailhistorique #livraison h2{
        position:relative;
        display:block;
	color:#29140c;
	border-top:solid 1px #e2e0df;
	text-align:left;
}

#detailhistorique #facture p, #detailhistorique #livraison p{
	clear:both;
	padding:0
}

#table-recap {
	width:900px;
	font:13px "Tahoma";
    color:#838282;
    border-collapse:collapse;
    border-spacing:0;
}

#table-recap th {
    background:#f7f7f7;
    padding:15px 0;
    text-align:center;
    border:solid 1px #e3e0e1;
    font-weight:normal; 

}
.price-shipping { color:#ae1d1c; }
#table-recap td {
    text-align:center;
    padding:10px 0;
    color:#838282;
    border:solid 1px #e3e0e1;
}

#detailhistorique #recap-produits{
    padding:0 20px;
    font:13px "Tahoma";
    color:#838282;
    box-shadow:none;
    width:800px;
    height:30px;
}
h4#h3formajax { background:none;
	border:dotted 1px #e3e0e1;
	font:13px "Tahoma";
	color: #838282;
	padding:10px;
	margin-left:5px;
	float:left; }
.formquitue { display:block;}
#table-recap tf{ background:red; }
#table-recap tfoot #ligne1 td { text-align:right; }
#table-recap tfoot #ligne1:first-child {
margin-top: 20px; height: 80px; vertical-align: bottom;  }
#table-recap tfoot #ligne1:last-child { font-weight:bold; }