<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>slidermagasin</name>
	<displayName><![CDATA[Slider du magasin]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Slider en bas de la page magasin.]]></description>
	<author><![CDATA[Hetic]]></author>
	<tab><![CDATA[slider]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>